@model IEnumerable<NetBankDB.Models.Transaction>

@{
    ViewData["Title"] = "Transactions";
}

<h2>
    Transactions

    <a href="javascript:void(0);" onclick="history.go(-1);">
        <button class="btn btn-default">Accounts</button>
    </a>

</h2>
@{ 
<table class="table">
    <thead>
        <tr>
            <th>
                <span id="banking-options-title">Account</span>
            </th>
            <th>
                <span id="banking-options-title">Date</span>
            </th>
            <th>
                <span id="banking-options-title">Transaction</span>
            </th>
        </tr>
    </thead>
    <tbody>
         
            @foreach (var item in Model)
            {
                ViewData["id"] = item.accountID;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.accountID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.transactionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.transactionProcessed)
                    </td>
                </tr>
            }

    </tbody>
</table>

@using (Html.BeginForm("DateRangeTrans", "Accounts", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{<input type="hidden" value=@ViewData["id"] name="id" />
    @Html.AntiForgeryToken()
    <div class="row">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <b><h5> Filter By Date: </h5></b>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Between This Date: </label>
                        <input type="date" class="form-control" name="date1" />
                        <span class="text-danger"></span>

                        <label class="control-label">And This Date: </label>
                        <input type="date" class="form-control" name="date2" />
                        <span class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group">
                    <input type="submit" value="Filter" class="btn btn-default" />
                </div>
            </div>
    </div>
}
 }
